<modal [(visible)]="dialog">
    <material-dialog class="basic-dialog" [autoDismissable]="true"
                     (dismiss)="stopDialog()" headered>
        <div header><h1>{{Model.localization?.currentLanguage | local:'new_document_header'}}</h1></div>
        <form (ngSubmit)="onSubmit(name.value)" #Form="ngForm">
            <label>{{Model.localization?.currentLanguage | local:'new_document_label'}}</label>
            <br>
            <input #name type="text" (keyup)="0" autofocus>
            <br>
            <small *ngIf="showError" style="color: red">{{Model.localization?.currentLanguage |
                local:'new_document_error'}}
            </small>
            <div footer>
                <material-button clear-size (trigger)="stopDialog()">
                    {{Model.localization?.currentLanguage | local:'close_button'}}
                    <material-icon icon="clear" size="large"></material-icon>
                </material-button>
                <material-button clear-size (trigger)="onSubmit(name.value)" [disabled]="name.value == ''"
                                 type="submit">
                    {{Model.localization?.currentLanguage | local:'submit_button'}}
                    <material-icon icon="note_add" size="large"></material-icon>
                </material-button>
            </div>
        </form>
    </material-dialog>
</modal>