<modal [(visible)]="dialog">
    <material-dialog headered class="basic-dialog" [autoDismissable]="true"
                     (dismiss)="stopDialog()">
        <div header><h1 style="color: darkred">{{Model.localization?.currentLanguage |
            local:'rename_unsuccessful_header'}}</h1></div>
        <p>{{Model.localization?.currentLanguage | local:'rename_unsuccessful_text'}}</p>
        <div footer>
            <material-button clear-size (trigger)="stopDialog()">
                {{Model.localization?.currentLanguage | local:'close_button'}}
                <material-icon icon="clear" size="large"></material-icon>
            </material-button>
        </div>
    </material-dialog>
</modal>