<div class="header-bar">
    <h1 #title [contentEditable]="allowEdit.toString()" class="title" (input)="updateName($event)"></h1>
    <div class="lock-duration" *ngIf="allowEdit&&lockDuration!=null" (trigger)="extendLock()"
         [title]="Model.localization?.currentLanguage | local:'extend_lock'" clickable>
        <material-icon icon="lock" size="medium"></material-icon>
        <div *ngIf="lockDuration.isNegative">
            {{Model.localization?.currentLanguage | local:'duration_negative'}}
        </div>
        <div *ngIf="!lockDuration.isNegative">
            {{Model.localization?.currentLanguage | local:'duration_positive'}}{{lockDuration | time}}
        </div>
    </div>
    <div class="flex">
        <rulesets [rulesets]="document?.rulesets" [show]="showMetadata" [clickable]="allowEdit" [removable]="allowEdit"
                  (removeRulesetStream)="document.rulesets.remove($event)"
                  (editRulesetStream)="editRuleset($event)"></rulesets>
        <material-button (trigger)="addNewRuleset()" [hidden]="!(allowEdit)" class="add-metadata" icon
                         [title]="Model.localization?.currentLanguage | local:'add_ruleset'">
            <material-icon icon="add_circle" size="large"></material-icon>
        </material-button>
    </div>
</div>
<div class="scrollable">
    <snippet-comp *ngFor="let snippet of document?.snippets; trackBy: trackBySnippetId"
                  [snippet]="snippet"
                  [showMetadata]="showMetadata"
                  [allowEdit]="allowEdit"
                  [moveMode]="moveMode"
                  [moving]="snippet== movingSnippet"
                  (moveMeStream)="startMoveMode($event)"
                  (moveToStream)="move($event)"
                  (removeMeStream)="removeSnippetDialog($event)"
                  (startEditStream)="startEdit()"
                  (editRulesetStream)="editRuleset($event)"></snippet-comp>
    <div class="add-snippet" clickable (trigger)="addNewSnippet()"
         [title]="Model.localization?.currentLanguage | local:'add_snippet_button'" *ngIf="allowEdit">
        + {{Model.localization?.currentLanguage | local:'add_snippet_button'}}
    </div>
</div>
<div class="toolbar-container">
    <div class="toolbar">
        <material-button raised (trigger)="back()" [title]="Model.localization?.currentLanguage | local:'back'">
            {{Model.localization?.currentLanguage | local:'back_button'}}
            <material-icon icon="reply_all" size="large"></material-icon>
        </material-button>
        <material-button raised (trigger)="showConfigureLanguageDialog=true"
                         [title]="Model.localization?.currentLanguage | local:'language_config'">
            {{Model.localization?.currentLanguage | local:'language_config'}}
            <material-icon icon="language" size="large"></material-icon>
        </material-button>

        <div *ngIf="!allowEdit">
            <material-button raised (trigger)="startEdit()"
                             [title]="Model.localization?.currentLanguage | local:'edit_button'">
                {{Model.localization?.currentLanguage | local:'edit_button'}}
                <material-icon icon="edit" size="large"></material-icon>
            </material-button>
        </div>

        <div *ngIf="allowEdit">
            <material-button raised (trigger)="stopEdit()"
                             [title]="Model.localization?.currentLanguage | local:'edit_stop_button'">
                {{Model.localization?.currentLanguage | local:'edit_stop_button'}}
                <material-icon icon="lock_open" size="large"></material-icon>
            </material-button>

            <material-button raised (trigger)="saveChanges()" [disabled]="lockDuration==null||lockDuration.isNegative"
                             [title]="(lockDuration==null||lockDuration.isNegative) ? (Model.localization?.currentLanguage|local:'lock_error') : (Model.localization?.currentLanguage|local:'save_button')">
                {{Model.localization?.currentLanguage | local:'save_button'}}
                <material-icon icon="save" size="large"></material-icon>
            </material-button>

            <material-button raised
                             (trigger)="showDeleteDocumentDialog=true"
                             [disabled]="(lockDuration==null||lockDuration.isNegative)"
                             [title]="(lockDuration==null||lockDuration.isNegative)? (Model.localization?.currentLanguage|local:'lock_error') : (Model.localization?.currentLanguage|local:'delete_document_button')"
            >
                {{Model.localization?.currentLanguage | local:'delete_document_button'}}
                <material-icon icon="delete_forever" size="large"></material-icon>
            </material-button>
        </div>

        <!--        <div>-->
        <!--            <material-button raised *ngIf="!showMetadata" (trigger)="showMetadata=true" [title]="Model.localization?.currentLanguage | local:'show_metadata'">-->
        <!--                {{Model.localization?.currentLanguage | local:'show_metadata'}}-->
        <!--                <material-icon icon="visibility" size="large"></material-icon>-->
        <!--            </material-button>-->
        <!--            <material-button raised *ngIf="showMetadata" (trigger)="showMetadata=false" [title]="Model.localization?.currentLanguage | local:'hide_metadata'">-->
        <!--                {{Model.localization?.currentLanguage | local:'hide_metadata'}}-->
        <!--                <material-icon icon="visibility_off" size="large"></material-icon>-->
        <!--            </material-button>-->
        <!--        </div>-->
    </div>
</div>
<!--<editor-fold desc="Dialogs">-->
<save-changes-dialog *ngIf="showSaveChangesDialog" [lockDuration]="lockDuration"
                     (closeStream)="showSaveChangesDialog=false" (trigger1)="saveChangesAndStopEdit()"
                     (trigger2)="trashChangesAndStopEdit()"></save-changes-dialog>
<rename-unsuccessful-dialog *ngIf="showRenameUnsuccessfulDialog"
                            (closeStream)="showRenameUnsuccessfulDialog=false"></rename-unsuccessful-dialog>
<remove-snippet-dialog *ngIf="showRemoveSnippetDialog" (closeStream)="showRemoveSnippetDialog=false"
                       (trigger)="removeSnippet()"></remove-snippet-dialog>
<delete-document-dialog *ngIf="showDeleteDocumentDialog" (closeStream)="showDeleteDocumentDialog=false"
                        [lockDuration]="lockDuration" (trigger)="removeDocument()"></delete-document-dialog>
<delete-document-error-dialog *ngIf="showDeleteDocumentErrorDialog" (closeStream)="showDeleteDocumentErrorDialog=false">
</delete-document-error-dialog>
<cannot-edit-1-dialog *ngIf="showCannotEditDialog1" (closeStream)="showCannotEditDialog1=false"></cannot-edit-1-dialog>
<cannot-edit-2-dialog *ngIf="showCannotEditDialog2" (closeStream)="showCannotEditDialog2=false"></cannot-edit-2-dialog>
<edit-ruleset-dialog *ngIf="showEditRulesetDialog" (closeStream)="showEditRulesetDialog=false"
                     [ruleset]="editableRuleset"></edit-ruleset-dialog>
<configure-language-dialog *ngIf="showConfigureLanguageDialog"
                           (closeStream)="showConfigureLanguageDialog=false"></configure-language-dialog>
<!--</editor-fold>-->