:host {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.scrollable {
    flex: 1;
    overflow: auto;
}

.title {
    color: white;
    width: 100%;
}

[contenteditable="true"].title {
    white-space: nowrap;
    overflow: hidden;
}

[contenteditable="true"].title:hover {
    color: darkred;
}

.lock-duration {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
}

.lock-duration:hover {
    text-decoration: underline;
}

.lock-duration > div {
    font-size: 16px;
    color: silver;
    font-weight: normal;
    margin: 0;
}

.inline > div {
    display: inline;
}

.flex {
    display: flex;
    align-items: center;
}

[hidden] {
    display: none !important;
}

.add-snippet {
    max-width: 60rem;
    margin: 5px auto 1rem auto;
    box-sizing: border-box;
    height: 5rem;
    border: 0.2rem dashed gray;
    border-radius: 5px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.add-snippet:hover {
    color: dimgray;
    border-color: dimgray;
}
