<modal [(visible)]="dialog">
    <material-dialog headered class="basic-dialog" [autoDismissable]="true"
                     (dismiss)="stopDialog()">
        <div header><h1 style="color: darkred">{{Model.localization?.currentLanguage |
            local:"cannot_edit_2_header"}}</h1></div>
        <p [innerHTML]='Model.localization?.currentLanguage | local:"cannot_edit_2_text"'>
        </p>
        <div footer>
            <material-button clear-size (trigger)="stopDialog()">
                {{Model.localization?.currentLanguage | local:"close_button"}}
                <material-icon icon="clear" size="large"></material-icon>
            </material-button>
        </div>
    </material-dialog>
</modal>