<div class="header-bar">
    <div class="navbar">
        <material-button raised [class.chosen]="chosen==MenuChosen.documents" [disabled]="commonService.editing"
                         (trigger)="SelectDocuments()">
            Documents
        </material-button>
    </div>
    <material-menu [menu]="menuModel" [disabled]="commonService.editing" [popupClass]="menuClasses"
                   class="menu"></material-menu>
    <div class="title" *ngIf="chosen==MenuChosen.documents">
        <h1>Documents</h1>
    </div>
    <div class="lock-duration" *ngIf="commonService.visible">
        <div *ngIf="commonService.duration.isNegative">
            Your lock has run out. Please try to extend your lock.
        </div>
        <div *ngIf="!commonService.duration.isNegative">
            Your lock will expire in: {{commonService.duration | time}}
        </div>
    </div>
</div>
<router-outlet [routes]="Routes.all"></router-outlet>

