:host {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.menu {
    float: left;
}

.menu-popup {
    top: 3rem !important;
}

.navbar {
    margin-top: 5px;
    float: left;
}

.header-bar {
    padding-bottom: 5px;
}

.title {
    color: white;
    /*float: right;*/
}

.lock-duration {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
}

.chosen {
    color: white !important;
    background-color: black !important;
}

.lock-duration > div {
    font-size: 16px;
    color: silver;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 61rem) {
    .navbar {
        display: none;
    }

    .menu {
        display: block;
    }

    .title {
        display: block;
    }
}

@media screen and (min-width: 61rem) {
    .navbar {
        display: block;
    }

    .menu {
        display: none;
    }

    .title {
        display: none;
    }
}