<modal headered [(visible)]="dialog">
    <material-dialog class="basic-dialog">
        <div header class="title"><h1>{{Model.localization?.currentLanguage | local:'edit_ruleset_header'}}</h1></div>
        <div *ngFor="let rule of ruleset.rules; trackBy: trackByIndex" class="inline">
            {{rule.rType.label}}:
            <div *ngIf="rule.rType.type==InputType.number">
                <material-input type="number" [(ngModel)]="rule.value" class="material-input"></material-input>
            </div>
            <div *ngIf="rule.rType.type==InputType.text">
                <material-input type="text" [(ngModel)]="rule.value" class="material-input"></material-input>
            </div>
            <div *ngIf="rule.rType.type==InputType.select">
                <select-rule-dropdown [rule]="rule"></select-rule-dropdown>
            </div>
            <div *ngIf="rule.rType.type==InputType.datetime">
                <time-picker [time]="rule"></time-picker>
            </div>
            <material-button raised icon
                             (trigger)="ruleset.rules.remove(rule);updateNotUsedRules()">
                <material-icon icon="cancel" size="small"></material-icon>
            </material-button>
        </div>
        <div *ngIf="numberOfNotUsedRules>0">
            <h2>{{Model.localization?.currentLanguage | local:"add_rule"}}</h2>
            <material-dropdown-select
                    [buttonText]="selectRuleLabel"
                    [options]="NotUsedRules"
                    [itemRenderer]="RuleType.Renderer"
                    [listAutoFocus]="false"
                    [activateFirstOption]="true"
                    [(selection)]="selectedRule"
                    [class.value-none]="selectedRule==null"
                    class="full-width">
                <div header>
                    <material-select-searchbox
                            label="{{Model.localization?.currentLanguage | local:'search_label'}}"
                            [filterable]="NotUsedRules">
                    </material-select-searchbox>
                </div>
            </material-dropdown-select>
            <material-button raised icon (trigger)="AddRule()">
                {{Model.localization?.currentLanguage | local:"add_button"}}
                <material-icon icon="add_circle" size="small"></material-icon>
            </material-button>
        </div>
        <div footer>
            <material-button clear-size (trigger)="stopDialog()">
                {{Model.localization?.currentLanguage | local:"close_button"}}
                <material-icon icon="clear" size="large"></material-icon>
            </material-button>
        </div>
    </material-dialog>
</modal>