<div class="scrollable">
    <ul class="list">
        <li *ngFor="let document of model.documentList; trackBy: trackByDocumentId" class="item">
            <div class="inline">
                <div [clickable]="true"
                     clickableClass="clickable" (trigger)="viewDocument(document.id)">
                    <material-icon icon="label_important" size="large"></material-icon>
                    {{document.name}} &nbsp;
                </div>
                <rulesets [rulesets]="document.rulesets" [show]="true" [clickable]="false"
                          [removable]="false"></rulesets>
            </div>
        </li>
    </ul>
</div>
<div class="toolbar-container">
    <div class="toolbar">
        <material-button (trigger)="showNewDocumentDialog = true"
                         raised
                         [title]="Model.localization?.currentLanguage | local:'new_document_button'">
            {{Model.localization?.currentLanguage | local:'new_document_button'}}
            <material-icon icon="note_add" size="large"></material-icon>
        </material-button>

        <material-button raised (trigger)="reload()"
                         [title]="Model.localization?.currentLanguage | local:'reload_button'">
            {{Model.localization?.currentLanguage | local:'reload_button'}}
            <material-icon icon="autorenew" size="large"></material-icon>
        </material-button>

        <material-button raised (trigger)="showConfigureLanguageDialog=true"
                         [title]="Model.localization?.currentLanguage | local:'language_config'">
            {{Model.localization?.currentLanguage | local:'language_config'}}
            <material-icon icon="language" size="large"></material-icon>
        </material-button>
    </div>
</div>

<new-document-dialog *ngIf="showNewDocumentDialog" (closeStream)="showNewDocumentDialog=false"></new-document-dialog>
<configure-language-dialog *ngIf="showConfigureLanguageDialog"
                           (closeStream)="showConfigureLanguageDialog=false"></configure-language-dialog>
