:host {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.scrollable {
    flex: 1;
    overflow: auto;
}

.list {
    max-width: 60rem;
    padding: 0;
    margin: auto;
}

.item {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

.inline {
    display: flex;
    align-items: baseline;
}

rulesets /deep/ material-chip.themeable {
    font-size: 0.8rem;
    color: #333;
    height: 1em;
    line-height: 1em;
    font-weight: normal;
    background-color: transparent;
    border-radius: 0;
}

rulesets /deep/ material-chip.themeable > div.content {
    margin: 0;
}

rulesets /deep/ material-chip.themeable:not(:first-child) > div.content {
    border-left: 1px solid #333;
    padding-left: 0.2rem;
}