<material-dropdown-select
        [(selection)]="rule.value"
        [activateFirstOption]="false"
        [buttonText]="selectLabel"
        [itemRenderer]="Renderer"
        [listAutoFocus]="false"
        [class.value-none]="rule.value==null"
        [options]="rule.rType.selectionOption"
        class="full-width">
    <div header>
        <material-select-searchbox
                [filterable]="rule.rType.selectionOption"
                label="{{Model.localization?.currentLanguage | local:'search_label'}}">

        </material-select-searchbox>
    </div>
</material-dropdown-select>