<modal [(visible)]="dialog">
    <material-dialog class="basic-dialog" headered [autoDismissable]="true"
                     (dismiss)="stopDialog()">
        <div header><h1>{{Model.localization?.currentLanguage | local:"delete_document_header"}}</h1></div>

        <div footer>
            <material-button clear-size (trigger)="sendTrigger()"
                             [disabled]="lockDuration==null||lockDuration.isNegative"
                             [title]="(lockDuration==null||lockDuration.isNegative)?(Model.localization?.currentLanguage | local:'lock_error'):(Model.localization?.currentLanguage | local:'delete_document_button')">
                {{Model.localization?.currentLanguage | local:'delete_document_button'}}
                <material-icon icon="delete_forever" size="large"></material-icon>
            </material-button>

            <material-button clear-size (trigger)="stopDialog()">
                {{Model.localization?.currentLanguage | local:"close_button"}}
                <material-icon icon="clear" size="large"></material-icon>
            </material-button>
        </div>
    </material-dialog>
</modal>