<div class="metadata" [hidden]="!show">
    <material-chips>
        <material-chip (remove)="removeRuleset(ruleset)" (trigger)="editRuleset(ruleset)"
                       *ngFor="let ruleset of rulesets; trackBy: trackByIndex" [removable]="removable"
                       [clickable]="clickable">
            {{ruleset.parsed}}
        </material-chip>
    </material-chips>
</div>