<modal headered [(visible)]="dialog">
    <material-dialog class="basic-dialog">
        <material-dropdown-select
                [buttonText]="selectLanguageLabel"
                [options]="Model.localization.selectionOption"
                [itemRenderer]="Model.localization.OptionRenderer"
                [listAutoFocus]="false"
                [activateFirstOption]="true"
                [class.value-none]="selectedLanguage==null"
                [(selection)]="selectedLanguage">
            <div header>
                <material-select-searchbox
                        label="{{Model.localization?.currentLanguage | local:'search_label'}}"
                        [filterable]="Model.localization.selectionOption">
                </material-select-searchbox>
            </div>
        </material-dropdown-select>
        <div footer>
            <material-button clear-size (trigger)="stopDialog()">
                {{Model.localization?.currentLanguage | local:"close_button"}}
                <material-icon icon="clear" size="large"></material-icon>
            </material-button>
        </div>
    </material-dialog>
</modal>