.inline {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    padding-right: 3rem;
    border-left: 0.2rem solid #ddd;
    padding-left: 0.2rem;
}

.inline > material-button {
    align-self: flex-end;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0.2rem;
}
