.snippet {
    margin: 5px auto 1rem auto;
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 5px;
    max-width: 60rem;
    display: grid;
    grid-template-columns: auto 3rem;
    grid-template-rows: auto auto;
    position: relative;
}

.focus {
    box-shadow: 1px 1px 5px 4px gray;
}

.snippet-html:focus {
    outline: none;
}

.snippet-html {
    flex: 1;
}

.snippet-content-container {
    display: flex;
    background-color: white;
    padding: 4px;
    cursor: text;
    grid-column: 1;
    grid-row: 2;
    word-break: break-word;
}


.snippet-buttons {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

.snippet-buttons > material-button {
    margin-bottom: 2px;
    margin-top: 2px;
}

.add-metadata {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

[hidden] {
    display: none !important;
}

:host {
    display: block;
}

.snippet-overlay {
    position: absolute;
    background-color: rgba(150, 150, 255, 0.7);
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    color: blue;
    font-size: 200%;
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    opacity: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.snippet-overlay /deep/ .material-icons {
    font-size: 65px !important;
    margin-top: -20px;
}

.snippet-overlay--bottom /deep/ .material-icons {
    font-size: 65px !important;
    margin-bottom: -20px;
}

.snippet-overlay--cancel /deep/ .material-icons {
    font-size: 65px !important;
}

.snippet-overlay.snippet-overlay--bottom {
    top: 50%;
    border-radius: 0 0 5px 0px;
    align-items: flex-end;
}

.snippet-overlay:hover {
    opacity: 0.7;
}

.snippet-overlay--cancel {
    height: 100%;
    color: red;
    background-color: rgba(255, 100, 100, 0.7);
    align-items: center;
    margin: 0;
}