<div #snippetElement *ngIf="snippet!=null" class="snippet">
    <rulesets [rulesets]="snippet.rulesets" [show]="showMetadata" [clickable]="allowEdit" [removable]="allowEdit"
              (removeRulesetStream)="removeRuleset($event)" (editRulesetStream)="editRuleset($event)"></rulesets>
    <material-button (trigger)="addNewRuleset()" [hidden]="!(allowEdit&&showMetadata)" class="add-metadata" icon
                     [title]="Model.localization?.currentLanguage | local:'add_ruleset'">
        <material-icon icon="add_circle" size="large"></material-icon>
    </material-button>

    <div class="snippet-content-container">
        <div #contentElement align="left" class="snippet-html" [contentEditable]="allowEdit.toString()"
             (input)="update($event)"></div>
    </div>
    <div class="snippet-buttons" [hidden]="!allowEdit">
        <material-button raised icon (trigger)="destroyMe()"
                         [title]="Model.localization?.currentLanguage | local:'remove_snippet_button'">
            <material-icon icon="delete_forever" size="large"></material-icon>
        </material-button>
        <material-button raised icon (trigger)="move()"
                         [title]="Model.localization?.currentLanguage | local:'move_snippet_button'">
            <material-icon icon="unfold_more" size="large"></material-icon>
        </material-button>
    </div>
    <div *ngIf="allowEdit&&moveMode&&(!moving)" class="snippet-overlay"
         [title]="Model.localization?.currentLanguage | local:'move_above'" clickable
         (trigger)="moveTo(true)">
        <material-icon icon="arrow_drop_up" size="big"></material-icon>
    </div>
    <div *ngIf="allowEdit&&moveMode&&(!moving)" class="snippet-overlay snippet-overlay--bottom"
         [title]="Model.localization?.currentLanguage | local:'move_bellow'"
         clickable (trigger)="moveTo(false)">
        <material-icon icon="arrow_drop_down" size="big"></material-icon>
    </div>
    <div clickable *ngIf="allowEdit&&moveMode&&moving" class="snippet-overlay snippet-overlay--cancel"
         [title]="Model.localization?.currentLanguage | local:'move_cancel'" (trigger)="stopMoving()">
        <material-icon icon="cancel" size="big"></material-icon>
    </div>
</div>

